:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  overflow: hidden;
}

* {
  box-sizing: inherit;
}

body {
  color: #eee;
  background-color: #242424;
  height: calc(100vh - 16px);
  overflow: hidden;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: #eee;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}

button:hover {
  border-color: #646cff;
}

.card {
  padding: 2em;
}

#app {}